<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jane Doe</title>

    
    <style>
        body {
            background-color: #C6CC16;
            font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .contact-carousel {
            padding: 0;
            color: #333;
        }

        .contact-carousel .item {
            padding: 50px 55px;
            text-align: center;
        }

        .contact-carousel .item .contact-image {
            margin-top: 50px;
        }

        .contact-carousel .item .card-details {
            padding: 0;
        }

        .contact-carousel .item .card-details img.client-logo {
            margin: 0 auto 25px;
        }

        .contact-carousel .item .card-details .card-name {
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 40px;
            font-weight: 900;
            line-height: 40px;
        }

        .contact-carousel .item .card-details .card-description {
            display: block;
            font-size: 18px;
            line-height: 18px;
            padding: 0;
        }


        .contact-carousel .item .card-details .card-telephone {
            display: block;
            font-size: 18px;
            line-height: 18px;
            padding: 18px 0 18px;
            font-style: italic;
        }

        .contact-carousel .owl-controls {
            margin-top: 0;
        }

        .contact-carousel .owl-controls .owl-prev,
        .contact-carousel .owl-controls .owl-next {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50px;
            height: 75px;
            margin: auto 0!important;
            border-radius: 0!important;
            text-align: center;
            font-size: 30px!important;
            line-height: 70px;
            color: #fff!important;
            background-color: #ef4035!important;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
        }
/*
        .contact-carousel .owl-controls .owl-prev:hover,
        .contact-carousel .owl-controls .owl-next:hover {
            opacity: 1;
        }

        .contact-carousel .owl-controls .owl-prev {
            left: 0;
        }

        .contact-carousel .owl-controls .owl-next {
            right: 0;
        }
*/

        @media(min-width:992px) {
            .contact-carousel .item {
                padding: 155px 55px;
                min-height: 100%;
                text-align: left;
            }

            .contact-carousel .item .contact-image {
                margin-top: 0;
            }

            .contact-carousel .item .card-details {
                padding: 15% 0 0;
            }

            .contact-carousel .item .card-details img.client-logo {
                margin: 0 auto 25px 0;
            }

            .contact-carousel .item .card-details .card-name {
                display: block;
                font-size: 50px;
                line-height: 50px;
            }

            .contact-carousel .item .card-details .card-description {
                font-size: 20px;
                line-height: 20px;
            }

            .contact-carousel .item hr.colored {
                margin: 20px auto 20px 0;
            }
        }

        .contact-gallery .item {
            padding: 15px;
        }


        .about-content {
            padding: 12px 30px 0 30px;
        }

        footer.footer {
            padding: 25px 0 20px;
            color: rgba(255,255,255,.7);
        }

        footer.footer a {
            color: rgba(255,255,255,.7);
        }

        footer.footer a:hover {
            color: #fff;
        }

        footer.footer p {
            font-size: 22px;
        }

        footer.footer .contact-details {
            margin: 25px 0;
        }

        footer.footer .social {
            margin-bottom: 25px;
        }

        footer.footer .copyright p.small {
            font-size: 14px;
        }

        a {
            color: #333;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
        }

        a:hover,
        a:focus {
            text-decoration: none;
            color: #686B11;
        }

    </style>

</head>

<!-- Alternate Body Classes: .modern and .vintage -->

<body id="page-top">

    <section class="contact-carousel wow fadeIn">
        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="card-details">
                            <img src="images/jgirl.gif" class="img-responsive client-logo" alt="">
                            <span class="card-name">
                                <span class="vital-fullname">Jane Doe</span>
                            </span>
                            <span class="card-description">
                                <span class="vital-post">Creative Director</span>, <span class="vital-organization">ABC Studios</span>
                                </span>
                            <span class="card-telephone"><i class="fa fa-phone fa-1x"></i> <span class="vital-telephone">+6017 6087010</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- <img src="assets/img/contact/tablet-screens.png" class="img-responsive contact-image" alt=""> -->
                        <!-- <div class="col-md-12 col-sm-6"> -->

                        <div class="card-details card-description">
                            <span class="card-description">
                                <span class="vital-description">I make great campaigns (and faces)! Check out what I do and like below. Feel free to holler at me!</span>
                            </span>

                            <div class="col-md-2 col-sm-6">
                                <div class="about-content">
                                    <span class="contact-email-glyph fa-4x">
                                        <a href=#><i class="fa fa-envelope"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <div class="about-content">
                                    <span class="contact-email-glyph fa-4x">
                                        <a href=#><i class="fa fa-twitter"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <div class="about-content">
                                    <span class="contact-email-glyph fa-4x">
                                        <a href=#><i class="fa fa-behance"></i></a>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6">
                                <div class="about-content">
                                    <span class="contact-email-glyph fa-4x">
                                        <a href=#><i class="fa fa-instagram"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <div class="about-content">
                                    <span class="contact-email-glyph fa-4x">
                                        <a href=#><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <div class="about-content">
                                    <span class="contact-email-glyph fa-4x">
                                        <a href=#><i class="fa fa-soundcloud"></i></a>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
